@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    background-color: rgb(40, 25, 40);
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    color: white;
}

#statuspanel {
    display: none !important;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.App {
    font-family: 'Poppins', sans-serif;
}