@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General */
input {
    outline: none;
    font-size: 1.5rem;
    padding: 0.6rem;
    padding-left: 0.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(80, 50, 80);
    border: 1px solid black;
    border-right: none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
}

input::placeholder,
input::-ms-input-placeholder {
    opacity: 0.7;
}

/* Classes */
.init-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.manga-submit {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.57);
}

.site-header-container {
    margin-bottom: 6vh;
}

.site-header {
    text-align: center;
}

.submit-error {
    text-align: center;
    margin: auto;
}


/* IDs */
#manga-search {
    width: 50vw;
}

#header-head {
    font-size: 6rem;
    margin-bottom: 0;
}

#submit-button {
    display: none;
}


/* Media Queries */

/* For larger mobile devices (tablets) */
@media(max-width: 1000px) {
    /* General */


    /* Classes */


    /* IDs */
    #manga-search {
        width: 80vw;
    }

    #header-head {
        font-size: 3rem;
        margin-top: 7vh;
    }

    #header-desc {
        display: none;
    }

    #submit-button {
        display: block;
    }
}

/* For smaller mobile devices (phones) */