@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General */
input {
    outline: none;
    font-size: 1.5rem;
    padding: 0.6rem;
    padding-left: 0.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(40, 40, 40);
    border: 1px solid black;
    border-right: none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
}

input::placeholder,
input::-ms-input-placeholder {
    opacity: 0.7;
}

button {
    padding: 0.6rem 1.5rem;
    background-color: rgb(40, 40, 40);
    border: 1px solid black;
    border-radius: 0.5rem;
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

button:hover {
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}

button:active {
    background-color: rgb(50, 50, 50);
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Classes */
.init-container {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.manga-submit {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.57);
}

.manga-search-container {
    margin-bottom: 1rem;
}

.site-header-container {
    margin-bottom: 6vh;
}

.site-header {
    text-align: center;
}

.submit-error {
    text-align: center;
    margin: auto;
}

.manga-card {
    display: flex;
    width: 50vw;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.57);
    background-color: rgb(30, 30, 30);
    align-items: center;
    transition: 0.2s;
}

.manga-text-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    opacity: 1;
}

.manga-title {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
}

.manga-img {
    justify-self: flex-start;
    height: 20vh;
    padding: 1rem;
}

.offset-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.offset-buttons-container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.manga-status {
    display: none;
}

/* IDs */
#manga-search {
    width: 50vw;
}

#header-head {
    font-size: 6rem;
    margin-bottom: 0;
}

#submit-button {
    display: none;
}

#prev {
    margin-right: .5rem;
}

#next {
    margin-left: .5rem;
}


/* Media Queries */

/* For larger mobile devices (tablets) */
@media(max-width: 800px) {
    /* General */


    /* Classes */
    .manga-card {
        display: flex;
        flex-direction: column-reverse;
        width: 85vw;
        padding-bottom: 1rem;
        padding-top: 0rem;
    }

    .manga-desc {
        display: none;
    }

    .manga-status {
        display: block;
    }

    .manga-img {
        height: 40vh;
    }

    .manga-text-info {
        display: inline;
        padding-bottom: 0;
    }


    /* IDs */
    #manga-search {
        width: 80vw;
    }

    #header-head {
        font-size: 3rem;
        margin-top: 7vh;
    }

    #header-desc {
        display: none;
    }

    #submit-button {
        display: block;
    }
}

/* For smaller mobile devices (phones) */