select {
    background-color: rgb(40, 40, 40);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    width: 15vw;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 0.5rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    margin-right: 0.5rem;
    transition: 0.2s;
}

select:hover {
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}

.style-dropdown {
    display: flex;
    max-width: 20vw;
    justify-content: center;
}

.style-label {
    margin: 1rem;
}

.reader-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.sidebar {
    position: fixed;
    display: flex;
    align-self: start;
    flex-direction: column;
    background-color: rgba(30, 30, 30, 100);
    width: 20vw;
    top: 0;
    bottom: 0;
    border-right: 1px solid black;
    box-shadow: 17px 0px 25px -3px rgba(0, 0, 0, 0.72);
    -webkit-box-shadow: 17px 0px 25px -3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 17px 0px 25px -3px rgba(0, 0, 0, 0.72);
    z-index: 9;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 20vw;
    justify-content: center;
}

.dummy-div {
    width: 20vw;
}

.change-page {
    margin: auto;
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-number {
    align-self: center;
}

.reader-container {
    align-items: center;
}

.form-submit {
    background-color: rgb(40, 40, 40);
}

.change-page-i {
    width: 50%;
}

.click-to-change {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 80%;
    right: 0;
    left: 20%;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: white;
}

#home-btn-sidebar {
    position: relative;
    width: 18vw;
}

.home-btn-sidebar {
    align-self: center;
    margin-top: 1rem;
}

.reader-image {
    max-width: 75vw;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:hover {
    cursor: default;
}

.chapter-buttons {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: center;
}

.change-chapter {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0;
}

@media(max-width: 1400px) {
    .reader-page {
        flex-direction: column-reverse;
    }

    .sidebar {
        position: relative;
        width: 100vw;
    }

    .reader-container {
        display: block;
    }

    .nav-buttons {
        display: none;
    }

    #home-btn-sidebar {
        width: 95vw;
    }

    #style-dropdown {
        width: 95vw;
    }

    #style-dropdown {
        display: none;
    }

    .dummy-div {
        display: none;
    }

    .click-to-change {
        width: 100%;
        left: 0;
        right: 0;
        top: 30%;
    }

    #img {
        width: 95vw;
    }

    .reader-image {
        max-width: 100vw;
        margin: auto;
    }

    .reader-container {
        margin-top: 1rem;
        display: flex;
    }

    .chapter-buttons {
        width: 100vw;
    }

    .chapter-button {
        width: 40vw;
    }
}